.image-hero-home {
  display: block;
  height: 90vh;
  width: 100%;
  background-image: url('../../assets/images/image-hero-home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-1 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-2 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-3 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-4 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.step-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.check-terms {
  display: flex;
  font-size: 14px;
}

.box-price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-price {
  background-color: #4f0296;
  padding: 40px 40px;
  width: 100%;
  border-radius: 30px;
  margin: 20px;
  height: 100%;
}

.box-price .content {
  min-height: 180px;
}

.fadeIn {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.fadeIn.enter {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.slideLeft {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateX(100px);
}

.slideLeft.enter {
  transition: opacity 1s ease-in-out, transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateX(0);
}

.slideRight {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateX(-100px);
}

.slideRight.enter {
  transition: opacity 1s ease-in-out, transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateX(0);
}

.slideUp {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}

.slideUp.enter {
  transition: opacity 1s ease-in-out, transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateY(0);
}

@media (print), (prefers-reduced-motion: reduce) {
  .fadeIn,
  .slideLeft,
  .slideUp {
    transition: none;
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 768px) {

  .social-wrapper .social-item .btn {
    min-width: 100% !important;
  }

  .image-brain-check {
    height: 75vh;
    background-position: center;
  }

  .image-assimilation, .image-neoassimilation {
    height: 250px;
  }

  .bubble-wrapper {
    border-radius: 140px;
  }

  .bubble-wrapper .content {
    font-size: 30px;
    text-align: left;
  }

  .box-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .box-price {
    width: 380px;
  }
}

.context {
  background: #4e54c8;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}