.image-brain-check {
  display: block;
  height: 30vh;
  width: 100%;
  background-image: url('../../assets/images/image-brain-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-fisher {
  display: block;
  min-height: 200px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/image-fisher.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-how-born {
  display: block;
  min-height: 300px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/image-how-born.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-3-brains {
  display: block;
  min-height: 300px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/image-3-brains.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-assimilation-step-1 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-assimilation-step-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-assimilation-step-2 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-assimilation-step-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-assimilation-step-3 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-assimilation-step-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-neoassimilation-step-1 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-neoassimilation-step-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-neoassimilation-step-2 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-neoassimilation-step-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-neoassimilation-step-3 {
  min-height: 200px;
  display: flex;
  width: 100%;
  background-image: url('../../assets/images/image-neoassimilation-step-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-how-think {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-how-think.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-brain-automatic {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-brain-automatic.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-learn-desktop {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-learn-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-brain-cycle {
  display: block;
  height: 100px;
  width: 100%;
  background-image: url('../../assets/images/image-brain-cycle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-assimilation {
  display: block;
  height: 100px;
  width: 100%;
  background-image: url('../../assets/images/image-assimilation.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-neoassimilation {
  display: block;
  height: 100px;
  width: 100%;
  background-image: url('../../assets/images/image-neoassimilation.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.circle-wrapper {
  border: 2px solid #A500FF;
  color: #A500FF;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 20px;
}

.fisher { 
  background-image: url('../../assets/images/bg-image-fisher.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: container;
  margin-left: -15px;
  margin-right: -15px;
}

.form-wrapper {
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.ul-wrapper {
  list-style-type: none;
  margin: 0 40px;
}

.ul-wrapper li {
  font-size: 14px;
  text-align: left;
  list-style-image: url('../../assets/images/icon-check.svg');
}

.hero-course-bottom {
  color: #6c757d;
  font-size: 14px;
}

.wwd .description {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wwd .workshop-time {
  font-size: 18px;
  margin-bottom: 20px;
}

.wwd .button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.wwd.hero-wrapper .title {
  font-size: 34px;
}

.course-hero-wrapper {
  background-color: #212529;
  color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}

.course-hero-wrapper h1 {
  color: yellow;
}

.course-hero-wrapper h2 {
  color: #ffffff;
}

.bg-left {
	background-image: url('../../assets/images/bg-left.svg');
	background-repeat: no-repeat;
	background-size: contain;
  margin-left: -15px;
  margin-right: -15px;
}

.bg-wave {
	background-image: url('../../assets/images/bg-wave.svg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position: fixed;
  margin-left: -15px;
  margin-right: -15px;
}

.image-marketing {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-marketing.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-web-developer {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-web-developer.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-entrepreneur {
  display: block;
  height: 300px;
  width: 100%;
  background-image: url('../../assets/images/image-entrepreneur.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-divisor {
  display: block;
  height: 80px;
  width: 100%;
  background-image: url('../../assets/images/image-divisor.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .image-brain-check {
    height: 75vh;
    background-position: center;
  }

  .image-assimilation, .image-neoassimilation {
    height: 250px;
  }

  .wwd.hero-wrapper .title {
    font-size: 54px;
  }

  .wwd .description {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .text-lg-left-xs-center {
    text-align: left;
  }

  .wwd .button-wrapper {
    display: flex;
    justify-content: left;
  }
}