.container, .container-fluid {
  min-height: 90vh;
  /* padding-top: 60px;*/
}

.section {
  padding: 100px 0;
}

.section.h-100 {
  min-height: 100vh;
}

.section.image-left {
  margin-left: -15px;
  margin-right: -15px;
  background-image: url('../../../assets/images/bg-image-side-left.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.image-right {
  margin-left: -15px;
  margin-right: -15px;
  background-image: url('../../../assets/images/bg-image-side-right.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.dark {
  background-color: #262554;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: -15px;
  margin-right: -15px;
  border-top-left-radius: 100%;
}

.section.dark h2 {
  color: #FFFFFF;
}

.section.highlight {
  color: #412c4c;
  font-size: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.section.light {
  background-color: #FAFAFA;
  margin-left: -15px;
  margin-right: -15px;
}

.section.start {
  background-color: #fcfcfc;
  margin-left: -20px;
  margin-right: -20px;
}

.section-divisor {
  display: block;
  height: 16px;
  background-image: url('../../../assets/images/image-divisor.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.row.none-bottom {
  margin-bottom: 0;
}

.box {
  min-height: 100px;
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 10px;
}

.box .box-image {
  margin-bottom: 20px;
}

.box .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 5px;
}

.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.box-icon .icon {
  display: flex;
  justify-content: center;
  width: 84px;
  height: 84px;
  margin-bottom: 20px;
}

/*
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 900px;
  margin-bottom: 20px;
}

.row.margin-top {
  margin-top: 20px;
}

.col {
  margin: 0 10px;
  flex: 1;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.col .col:last-child {
  margin-bottom: 0;
}

.box {
  min-height: 100px;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box.box-circle {
  padding-top: 80px;
  margin-top: 80px;
}

.box .image-top {
  background-color: #6A4895;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
}

.box .top-circle-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box .top-circle-wrapper .title {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.box .top-circle-wrapper .icon {
  width: 84px;
}

.box .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 5px;
}

.box .subtitle {
  font-size: 16px;
  font-weight: bold;
}

.box .content {
  font-size: 14px;
  height: 100%;
  margin-bottom: 20px;
}

.box.margin-bottom-2 {
  margin-bottom: 40px;
}

.box.dark {
  background-color: #290D3F;
}

.w-100 {
  width: 100%;
}
*/
@media (min-width: 768px) {
/*  .container {
    padding: 0px 20px 0 20px;
  }
*/
  .section {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    max-width: 1200px;
  }
  /*

  .col {
    margin: 0 10px;
    flex: 1;
    margin-bottom: 0;
  }
*/
}