.image-hero-home {
  display: block;
  height: 90vh;
  width: 100%;
  background-image: url('../../assets/images/image-hero-home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-1 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-2 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-3 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-step-4 {
  display: block;
  height: 400px;
  width: 100%;
  background-image: url('../../assets/images/image-step-4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.step-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.check-terms {
  display: flex;
  font-size: 14px;
}

@media (min-width: 768px) {

  .social-wrapper .social-item .btn {
    min-width: 100% !important;
  }

  .image-brain-check {
    height: 75vh;
    background-position: center;
  }

  .image-assimilation, .image-neoassimilation {
    height: 250px;
  }

  .bubble-wrapper {
    border-radius: 140px;
  }

  .bubble-wrapper .content {
    font-size: 30px;
    text-align: left;
  }
}