.mobile-preview {
  width: 300px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  padding: 80px 20px 40px 20px;
}

.mobile-preview .mobile-preview-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobile-preview .mobile-preview-content .title {
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: bold;
}

.pre-wrapper {
  min-width: 100%;
}

@media (min-width: 768px) {
}