.nextplay-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100000000000;
}

.nextplay-btn-mobile {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%0A%3Cpath%20d%3D%22M29.1875%200H17.9375C16.3866%200%2015.125%201.26163%2015.125%202.8125V10.3125C15.125%2011.8634%2016.3866%2013.125%2017.9375%2013.125H18.875V15.9375C18.875%2016.7735%2019.889%2017.1867%2020.4753%2016.6003L23.9507%2013.125H29.1875C30.7384%2013.125%2032%2011.8634%2032%2010.3125V2.8125C32%201.26163%2030.7384%200%2029.1875%200ZM27.0378%205.35031L23.2878%209.10031C22.9216%209.46656%2022.3284%209.46656%2021.9621%209.10031L20.0871%207.22531C19.7209%206.85913%2019.7209%206.26581%2020.0871%205.89962C20.4533%205.53344%2021.0466%205.53344%2021.4128%205.89962L22.625%207.11181L25.7122%204.02462C26.0784%203.65844%2026.6717%203.65844%2027.0379%204.02462C27.4041%204.39081%2027.4041%204.98413%2027.0378%205.35031Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M18.3594%2022.6598C18.0554%2022.7309%2017.7227%2022.6571%2017.484%2022.4179L9.52898%2014.4629C9.29211%2014.226%209.2183%2013.8938%209.28911%2013.5888L1.46798%205.76807C-0.889268%209.66744%20-0.415705%2014.8123%202.94723%2018.1753L13.8017%2029.0298C17.0445%2032.2741%2022.099%2033.0029%2026.2072%2030.5076L18.3594%2022.6598Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M11.5101%208.06442C11.4744%208.02505%2011.0478%207.56086%207.13657%203.64242C6.04332%202.54917%204.32519%202.4548%202.94713%203.83286C2.81644%203.96355%202.72613%204.11711%202.604%204.25311L10.8174%2012.466L11.1658%2012.2731C12.563%2011.233%2012.6578%209.2083%2011.5101%208.06442Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M28.322%2024.8704L24.3697%2020.9227C22.8656%2019.4171%2020.8414%2019.1941%2019.6044%2020.8916L19.4763%2021.1252L27.7233%2029.3721C27.8681%2029.2417%2028.0326%2029.1408%2028.171%2029.0013C29.5381%2027.6263%2029.3685%2025.9169%2028.322%2024.8704Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0057FF;
  background-size: 32px;
  height: 64px;
  width: 64px;
  border: 0;
  border-radius: 50%;
}

.nextplay-btn-mobile:hover {
  cursor: pointer;
  background-color: #007bff;
}

.nextplay-btn-mobile.change {
  background-color: #007bff;
  border: none;
}

.nextplay-btn-mobile:active {
  outline: none;
  border: none;
}

.nextplay-btn-mobile:focus {
  outline:0;
}

.nextplay-content {
  background-color: #FFFFFF;
  min-height: 200px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  left: 10px;
  padding: 40px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  display: none;
}

.fade-in {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.nextplay-btn-whatsapp {
  border: 0;
  background-color: #29DA65;
  padding: 10px 40px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 50px;
  width: 100%;
}

.nextplay-btn-call-now {
  border: 0;
  background-color: #0F8DFF;
  padding: 10px 40px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 50px;
  width: 100%;
}

.nextplay-row {
  margin-bottom: 10px;
}

.qrcode {
  width:100px;
  height:100px;
  margin: auto;
}

.nextplay-footer {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.nextplay-footer a {
  font-size: 10px;
  color: #999999;
}

@media (min-width: 768px) {
  .nextplay-content {
    width: 280px;
    text-align: center;
    left: initial;
  }

}