.nextplay-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100000000000;
}

.nextplay-btn-mobile {
  background-image: url("data:image/svg+xml,%3Csvg width='256' height='256' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='128' cy='128' r='128' fill='%230F8DFF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M212.5 183L248.44 243H176.56L212.5 183Z' fill='%230F8DFF'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M124.795 59.7831L107.554 62.8232C105.172 63.2433 103.56 65.3785 103.951 67.5963C104.342 69.8142 106.587 71.2694 108.969 70.8494L126.211 67.8093C128.593 67.3892 130.204 65.254 129.813 63.0361C129.422 60.8183 127.178 59.3631 124.795 59.7831Z' fill='white'/%3E%3Cpath d='M146.367 42.1868L82.1571 53.5086C73.307 55.0692 67.3747 63.5414 68.9352 72.3915L91.5789 200.81C93.1394 209.661 101.612 215.593 110.462 214.032L174.671 202.71C183.521 201.15 189.454 192.678 187.893 183.828L165.249 55.4087C163.689 46.5586 155.217 40.6263 146.367 42.1868ZM179.867 185.243C180.649 189.676 177.689 193.903 173.256 194.684L109.047 206.006C104.613 206.788 100.387 203.828 99.6051 199.395L76.9614 70.9762C76.1797 66.543 79.1391 62.3165 83.5723 61.5348L147.782 50.213C152.215 49.4313 156.442 52.3907 157.223 56.8239L179.867 185.243Z' fill='white'/%3E%3Crect x='74.6927' y='101.574' width='75' height='47' transform='rotate(43 74.6927 101.574)' fill='%230F8DFF'/%3E%3Crect x='132.639' y='108.724' width='75' height='47' transform='rotate(-43 132.639 108.724)' fill='%230F8DFF'/%3E%3C/g%3E%3Cpath d='M195.313 100.519L119.602 176.224C113.995 181.832 104.901 181.832 99.289 176.224L60.2064 137.139C54.5978 131.531 54.5978 122.436 60.2064 116.827C65.8161 111.217 74.91 111.217 80.5172 116.825L109.448 145.757L174.999 80.2057C180.609 74.596 189.703 74.6002 195.311 80.2057C200.918 85.8143 200.918 94.9068 195.313 100.519Z' fill='white'/%3E%3Cpath d='M195.313 100.519L119.602 176.224C113.995 181.832 104.901 181.832 99.289 176.224L60.2064 137.139C54.5978 131.531 54.5978 122.436 60.2064 116.827C65.8161 111.217 74.91 111.217 80.5172 116.825L109.448 145.757L174.999 80.2057C180.609 74.596 189.703 74.6002 195.311 80.2057C200.918 85.8143 200.918 94.9068 195.313 100.519Z' stroke='%230F8DFF'/%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='83' height='65' fill='white' transform='translate(171 183)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='163' height='163' fill='white' transform='translate(34 62) rotate(-10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 64px;
  height: 64px;
  width: 64px;
  border: 0;
}

.nextplay-btn-mobile:hover {
  cursor: pointer;
  background-size: 68px;
  height: 68px;
  width: 68px;
}

.nextplay-btn-mobile.change {
  background-color: #007bff;
  border: none;
}

.nextplay-btn-mobile:active {
  outline: none;
  border: none;
}

.nextplay-btn-mobile:focus {
  outline:0;
}

.nextplay-content {
  background-color: #FFFFFF;
  min-height: 280px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  left: 10px;
  padding: 40px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  display: none;
}

.fade-in {
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.nextplay-btn-whatsapp {
  border: 0;
  background-color: #29DA65;
  padding: 20px 40px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 50px;
  width: 100%;
}

.nextplay-btn-call-now {
  border: 0;
  background-color: #0F8DFF;
  padding: 20px 40px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 50px;
  width: 100%;
}

.nextplay-row {
  margin-bottom: 10px;
}

.qrcode {
  width: 120px;
  height: 120px;
  margin: 40px auto;
}

.nextplay-footer {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.nextplay-footer a {
  font-size: 10px;
  color: #999999;
}

@media (min-width: 768px) {
  .nextplay-content {
    width: 280px;
    text-align: center;
    left: initial;
  }

}