.icon {
  height: 32px;
  width: 32px;
  background-image: url('../../../assets/images/loading.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.small {
  height: 20px;
  width: 20px;
}

.icon.large {
  height: 64px;
  width: 64px;
}

.icon.space {
	margin-right: 10px;
}

.icon.search {
  background-image: url('../../../assets/images/icon-search.svg');
}

.icon.whatsapp {
  background-image: url('../../../assets/images/icon-whatsapp.svg');
}

.icon.facebook {
  background-image: url('../../../assets/images/icon-facebook.svg');
}

.icon.twitter {
  background-image: url('../../../assets/images/icon-twitter.svg');
}

.icon.linkedin {
  background-image: url('../../../assets/images/icon-linkedin.svg');
}

.icon.interactivity {
  background-image: url('../../../assets/images/icon-interactivity.svg');
}

.icon.micropayment {
  background-image: url('../../../assets/images/icon-micropayment.svg');
}

.icon.microads {
  background-image: url('../../../assets/images/icon-microads.svg');
}

.icon.big-data {
  background-image: url('../../../assets/images/icon-big-data.svg');
}

.icon.innovation {
  background-image: url('../../../assets/images/icon-innovation.svg');
}

.icon.chat {
  background-image: url('../../../assets/images/icon-chat.svg');
}

.icon.video-chat {
  background-image: url('../../../assets/images/icon-video-chat.svg');
}

.icon.video-chat {
  background-image: url('../../../assets/images/icon-video-chat.svg');
}

.icon.booking {
  background-image: url('../../../assets/images/icon-booking.svg');
}

.icon.support {
  background-image: url('../../../assets/images/icon-support.svg');
}

.icon.learn {
  background-image: url('../../../assets/images/icon-learn.svg');
}

.icon.assimilate {
  background-image: url('../../../assets/images/icon-assimilate.svg');
}

.icon.apply-automatically {
  background-image: url('../../../assets/images/icon-apply-automatically.svg');
}

.icon.email {
  background-image: url('../../../assets/images/icon-email.svg');
}

.icon.statistics {
  background-image: url('../../../assets/images/icon-statistics.svg');
}

.icon.rating {
  background-image: url('../../../assets/images/icon-rating.svg');
}

.icon.phone-book {
  background-image: url('../../../assets/images/icon-phone-book.svg');
}

.icon.phone-book {
  background-image: url('../../../assets/images/icon-phone-book.svg');
}

.icon.balancer {
  background-image: url('../../../assets/images/icon-balancer.svg');
}

.icon.referrer {
  background-image: url('../../../assets/images/icon-referrer.svg');
}

.icon.follow {
  background-image: url('../../../assets/images/icon-follow.svg');
}

.icon.add-user {
  background-image: url('../../../assets/images/icon-add-user.svg');
}

.icon.config {
  background-image: url('../../../assets/images/icon-config.svg');
}

.icon.embedded {
  background-image: url('../../../assets/images/icon-embedded.svg');
}

.icon.customer-neoassimilation {
  background-image: url('../../../assets/images/icon-customer-neoassimilation.svg');
  width: 200px;
  height: 38px;
}

.icon.customer-publicbloc {
  background-image: url('../../../assets/images/icon-customer-publicbloc.svg');
  width: 200px;
  height: 38px;
}

.icon.customer-zety {
  background-image: url('../../../assets/images/icon-customer-zety.svg');
  width: 148px;
  height: 38px;
}

.icon.customer-beno {
  background-image: url('../../../assets/images/icon-customer-beno.svg');
  width: 148px;
  height: 32px;
}

.icon.customer-mabella {
  background-image: url('../../../assets/images/icon-customer-mabella.svg');
  width: 148px;
  height: 38px;
}