header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  background-color: #16153a;
  box-shadow: 1px 1px 4px #0000000d;
  justify-content: space-between;
}

header.top {
  background-color: transparent;
  box-shadow: none;
}

.nav-logo {
	background-image: url(../../assets/images/logo.svg);
  background-position: center;
  width: 200px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.style-dark .nav-logo {
	background-image: url(../../assets/images/logo-nextplay-white.svg);
  background-position: center;
  width: 200px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.btn-login {
  border: 2px solid #ffffff;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 30px;
}