footer {
  padding: 20px 0;
  background-color: #1c1a33;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/*
.footer-nav .item {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav .item:last-child {
  margin-right: 0;
}
*/
footer.row {
  min-width: 100%;
}

footer .item {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .footer-nav .item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
  }

  footer .row {
    min-width: 100%;
  }
}